<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flipkart</title>
    <link rel="stylesheet" href="/static/fashion.css">
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
</head>

<body>
    <nav class="nav-top-page">
        <div class="nav-left-page">
            <img src="/static/images/flipkart plus.png" alt="">
            <input type="text" placeholder="Search products,Brands and more">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div class="nav-right-page">

            <h3> &nbsp; Become a seller</h3>
            <h3> &nbsp;more
                <iconify-icon icon="iconoir:nav-arrow-down"></iconify-icon>
            </h3>
            <h3><iconify-icon class="nav-icon" icon="mdi:cart-outline"></iconify-icon> &nbsp;cart</h3>
            <h3> <iconify-icon class="nav-icon" icon="pepicons-pencil:dots-y"></iconify-icon></h3>
        </div>
    </nav>




    <div class="nav-topdown-page">
        <h4>Electronics<iconify-icon icon="gridicons:dropdown"></iconify-icon></h4>
        <h4>Tv&Appliance<iconify-icon icon="gridicons:dropdown"></iconify-icon></h4>
        <h4>MEN<iconify-icon icon="gridicons:dropdown"></iconify-icon></h4>
        <h4>WOMEN<iconify-icon icon="gridicons:dropdown"></iconify-icon></h4>
        <h4>Baby & Kids<iconify-icon icon="gridicons:dropdown"></iconify-icon></h4>
        <h4>Home & Furnitchers<iconify-icon icon="gridicons:dropdown"></iconify-icon></h4>
        <h4>Sport&Books&more<iconify-icon icon="gridicons:dropdown"></iconify-icon></h4>
        <h4>Flights<iconify-icon icon="gridicons:dropdown"></iconify-icon></h4>
        <h4>Offer zone<iconify-icon icon="gridicons:dropdown"></iconify-icon></h4>
    </div>


    <section>

        <div class="side-bar">

            <div class="side-bar-div">
                <h4>FILTERS</h4>
            </div>
            <div class="side-bar-div">
                <h4>CATEGORIES</h4>
                <h5>
                    shirts</h5>
                <h4>trouser</h4>
            </div>
            <div class="side-bar-div">
                <h4>PRICE</h4>
                <input type="range">
                <br><br>
                <div class="flex-div">
                    <select name="" id="">
                        <option value="min">Min</option>
                        <option value="min">8000</option>
                        <option value="min">18000</option>
                        <option value="min">22200</option>
                    </select>
                    <p>to</p>
                    <select name="" id="">
                        <option value="min">28000</option>
                        <option value="min">48000</option>
                        <option value="min">112200</option>
                    </select>
                </div>
            </div>
            <div class="side-bar-div">
                <h4>BRAND &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    <iconify-icon icon="iconoir:nav-arrow-down"></iconify-icon>
                </h4>
            </div>
            <div class="side-bar-div">
                <h4>storage &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    <iconify-icon icon="iconoir:nav-arrow-down"></iconify-icon>
                </h4>
            </div>
            <div class="side-bar-div">
                <h4>Display size &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    <iconify-icon icon="iconoir:nav-arrow-down"></iconify-icon>
                </h4>
            </div>


            <div class="side-bar-div   flex-div">
                <h4><input type="checkbox"></h4>
                <img src="/static/images/fassured.png" alt="">
            </div>
            <div class="side-bar-div">
                <h4>CUSTOMER RATINGS &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    <iconify-icon icon="iconoir:nav-arrow-down"></iconify-icon>
                </h4>

                <h4><input type="radio">4 <iconify-icon icon="clarity:star-solid"></iconify-icon> & above</h4>
                <h4><input type="radio">3 <iconify-icon icon="clarity:star-solid"></iconify-icon> & above</h4>
                <h4><input type="radio">2 <iconify-icon icon="clarity:star-solid"></iconify-icon> & above</h4>
                <h4><input type="radio">1 <iconify-icon icon="clarity:star-solid"></iconify-icon> & above</h4>
            </div>
            <div class="side-bar-div   flex-div">
                <h4>Shirt design
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <iconify-icon icon="iconoir:nav-arrow-down"></iconify-icon>
                </h4>
            </div>
            <div class="side-bar-div   flex-div">
                <h4>PATTERN &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <iconify-icon icon="iconoir:nav-arrow-down"></iconify-icon>
                </h4>

            </div>
            <div class="side-bar-div   flex-div">
                <h4>IDEAL FOR &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <iconify-icon icon="iconoir:nav-arrow-down"></iconify-icon>
                </h4>
            </div>
            <div class="side-bar-div       flex-div">
                <h4>PERFECT FIT &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <iconify-icon icon="iconoir:nav-arrow-down"></iconify-icon>
                </h4>
            </div>
            <div class="side-bar-div   flex-div">
                <h4>FEATURES &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <iconify-icon icon="iconoir:nav-arrow-down"></iconify-icon>
                </h4>
            </div>
            <div class="side-bar-div   flex-div">
                <h4>ALL SIZES &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <iconify-icon icon="iconoir:nav-arrow-down"></iconify-icon>
                </h4>
            </div>
            <div class="side-bar-div   flex-div">
                <h4>OFFERS &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <iconify-icon icon="iconoir:nav-arrow-down"></iconify-icon>
                </h4>
            </div>
            <div class="side-bar-div">
                <h4>DISCOUNT</h4>
                <h4><input type="checkbox">10% offer or more</h4>
                <h4><input type="checkbox">20% offer or more</h4>
                <h4><input type="checkbox">30% offer or more</h4>
                <h4><input type="checkbox">40% offer or more</h4>
                <h4><input type="checkbox">50% offer or more</h4>
            </div>
            <div class="side-bar-div">
                <h4>OFFERS</h4>
                <h4><input type="checkbox">No Cost EMI</h4>
                <h4><input type="checkbox">Special Prixe</h4>
                <h4><input type="checkbox">Buy more ,Save more</h4>

            </div>
            <div class="side-bar-div   flex-div">
                <h4>CLOTH QUALITY &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <iconify-icon icon="iconoir:nav-arrow-down"></iconify-icon>
                </h4>
            </div>
            <div class="side-bar-div   flex-div">
                <h4>FLEXBILITY &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                    <iconify-icon icon="iconoir:nav-arrow-down"></iconify-icon>
                </h4>
            </div>
            <div class="side-bar-div   flex-div">
                <h4>ROUND NECK &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                    <iconify-icon icon="iconoir:nav-arrow-down"></iconify-icon>
                </h4>
            </div>
            <div class="side-bar-div   flex-div">
                <h4>FULL SLEEVE &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;
                    <iconify-icon icon="iconoir:nav-arrow-down"></iconify-icon>
                </h4>
            </div>
            <div class="side-bar-div   flex-div">
                <h4> COLOURS
                    <iconify-icon icon="iconoir:nav-arrow-down"></iconify-icon>
                </h4>
            </div>        
        </div>



        <div class="main">

            <br>
            <span><small>Home > Mens shirts > T-shirt</small></span><br>
            <span> <small>Full sleeve ,Half sleeve, Chinese neck ,Collar shirts ,Maxx ,Balmain shirts
                    ,Peter England , Mobiles ,realme Mobiles ,Samsung Mobiles ,APPLE Mobiles</small></span>
            <span>
                <h5>SMART PHONES</h5>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <h6>(Showing 1 – 6 products of 6 products)</h6>
            </span>
            <h4 class="filter">Sort By</h4>
            <span class="populartiy">Revelence</span>
            <p class="filter">Price-Low to High</p>
            <p class="filter">Price-High to low</p>
            <p class="filter">Newest first</p>


            <div class="list-container">
                {% for i in datas%}

                <div class="list-container-div">
                    <img src="{{i.image}}" alt="">
                    <h5>{{i.product_name}}</h5>

                    <p>4.249,851 Ratings & 5,981 Reviews</p>
                    <p class="blur">{{i.description}}</p>

                    <div>
                        <img src="/static/images/fassured.png" alt="">
                        <p> <b>Prices{{i.price}} </b><del class="blur"> </del></p>
                    </div>
                    <p>Free delivery</p>
                    <p><b class="star">Bank Offer</b></p>
                </div>


                {%endfor%}
            </div>
    </section>


    <div class="container-div">
        <h3>Reviews for Popular Shirts</h3>
        <section class="container  flex-div">
            <div>
                <img src="/static/images/shirt5.jpeg" alt="">
            </div>
            <div>
                <h3>1.Balmain mens shirts</h3>
                <p class="star      flex-div">4.1<iconify-icon icon="tabler:star-filled" class="star"
                        style="color: white;"></iconify-icon></p>
                <small><b class="blur">55,025 Ratings&6,321 Reviews</b></small>
                <p><small>121,499 <b class="blur">76% off</b></small></p>
                <p>Printed shirt pure cotton</p>
                <p>Branded shirts</p>
                <p></p>

            </div>
            <div>
                <p><small class="blur">Mosthelpfull review</small></p>
                <h3> Good quality product</h3>
                <p class="star      flex-div">4<iconify-icon icon="tabler:star-filled" class="star"
                        style="color: white;"></iconify-icon></p>
                <p>Nice products I am using one day that awesome products <br> that all are nice</p>
                <p><small><b class="blur">Kundan Kumar GuptaCertified Buyer 9 months ago</b></small></p>
            </div>
            <div>
                <p><small class="blur">Recently Reviewed 15hours ago</small></p>
                <h3>Pretty good </h3>
                <p class="star      flex-div">5<iconify-icon icon="tabler:star-filled" class="star"
                        style="color: white;"></iconify-icon></p>
                <p>Value of money best mobile</p>
                <p>very good product worth to buy</p>
                <p><small><b class="blur">Kundan Kumar GuptaCertified Buyer <br><small class="blur"> 9 months
                                ago</small></b></small></p>
            </div>
        </section>


        <section class="container  flex-div">
            <div>
                <img src="/static/images/shirt7.jpeg" alt="">
            </div>
            <div>
                <h3>2.peter england stipes light Colour</h3>
                <p class="star      flex-div">4.1<iconify-icon icon="tabler:star-filled" class="star"
                        style="color: white;"></iconify-icon></p>
                <small><b class="blur">55,025 Ratings&6,321 Reviews</b></small>
                <p><small>1,8499 <b class="blur">76% off</b></small></p>
                <p>Free size</p>
                <p>Regualr fit</p>
               

            </div>
            <div>
                <p><small class="blur">Mosthelpfull review</small></p>
                <h3>Nice product</h3>
                <p class="star      flex-div">4<iconify-icon icon="tabler:star-filled" class="star"
                        style="color: white;"></iconify-icon></p>
                <p>It's a great watch with suitable price range and have a
                    quite good display and good touch response.I am satisfied with it</p>
                <p><small><b class="blur">Flipkart Customer Buyer 9 months ago</b></small></p>
            </div>
            <div>
                <p><small class="blur">Recently Reviewed 15hours ago</small></p>
                <h3>Excellent</h3>
                <p class="star      flex-div">5<iconify-icon icon="tabler:star-filled" class="star"
                        style="color: white;"></iconify-icon></p>
                <p>Good shirt 😘😘😘😘😘❣️❣️❣️</p>

                <p><small><b class="blur">Kundan Kumar GuptaCertified Buyer <br><small class="blur"> 9 months
                                ago</small></b></small></p>
            </div>
        </section>



        <!-- <section class="container  flex-div">
            <div>
                <img src="/static/smart wathch14.webp" alt="">
            </div>
            <div>
                <h3>3. Boult CrownR Pro 1.43''HD A...</h3>
                <p class="star      flex-div">4.1<iconify-icon icon="tabler:star-filled" class="star"
                        style="color: white;"></iconify-icon></p>
                <small><b class="blur">55,025 Ratings&6,321 Reviews</b></small>
                <p><small>2,499 <b class="blur">56% off</b></small></p>
                <p>Bluetooth Calling with Dedicated Speaker and Mic | Zinc Alloy Frame</p>
                <p>1.43" AMOLED HD Screen with 466 x 466 Pixels High Resolution</p>
                <p>Stunning to Eyes 600 Nits Highest Brightness Display | Always on Display</p>

            </div>
            <div>
                <p><small class="blur">Mosthelpfull review</small></p>
                <h3> Delight dull</h3>
                <p class="star      flex-div">4<iconify-icon icon="tabler:star-filled" class="star"
                        style="color: white;"></iconify-icon></p>
                <p>A good smartwatch with a price tag on a higher side</p>
                <p><small><b class="blur">Amit Kumar PriyadarshiCertified Buyer4 months ago</b></small></p>
            </div>
            <div>
                <p><small class="blur">Recently Reviewed 15hours ago</small></p>
                <h3>does the job </h3>
                <p class="star      flex-div">5<iconify-icon icon="tabler:star-filled" class="star"
                        style="color: white;"></iconify-icon></p>
                <p>Stap is too cheap quality</p>
                <p><small><b class="blur">Dheeraj vatsCertified Buyer1 day ago</b></small></p>
            </div>
        </section>



        <section class="container  flex-div">
            <div>
                <img src="/static/smart wathch15.webp" alt="">
            </div>
            <div>
                <h3>5. Boult CrownR Bluetooth Call...</h3>
                <p class="star      flex-div">4.1<iconify-icon icon="tabler:star-filled" class="star"
                        style="color: white;"></iconify-icon></p>
                <small><b class="blur">55,025 Ratings&6,321 Reviews</b></small>
                <p><small>1,499 <b class="blur">76% off</b></small></p>
                <p>Single Chip Bluetooth Calling with Dedicated Speaker and Mic | Sturdy Metallic Frame</p>
                <p>1.52" HD Touch Screen with Zero Bezels, 600Nits High Brightness & 360*360 High Resolution Display</p>
                <p>Health Monitor: SpO2 Blood Oxygen Saturation Monitor, 24*7 Heart Rate Monitor, Female Menstrual Cycle
                    Tracking</p>

            </div>
            <div>
                <p><small class="blur">Mosthelpfull review</small></p>
                <h3>Very Good</h3>
                <p class="star      flex-div">4<iconify-icon icon="tabler:star-filled" class="star"
                        style="color: white;"></iconify-icon></p>
                <p>Fantastic watch ⌚️ great color combination 😀 I love boult products ❤️ 😍 and also chain litter bit
                    thin guage overall good product</p>
                <p><small><b class="blur">Flipkart CustomerCertified Buyer2 months ago</b></small></p>
            </div>
            <div>
                <p><small class="blur">Recently Reviewed 15hours ago</small></p>
                <h3>Classy product</h3>
                <p class="star      flex-div">5<iconify-icon icon="tabler:star-filled" class="star"
                        style="color: white;"></iconify-icon></p>
                <p>Display, design weight and all other features are awesome only the main problem is backup other wise
                    it is awesome even with made in India</p>
                <p>very good product worth to buy</p>
                <p><small><b class="blur">Alok BhartiCertified Buyer Today</small></b></small></p>
            </div>
        </section> -->

    </div>






    <footer class="">
        <div class="flex-div">
            <div class="about1       flex-div">
                <div>
                    <h6>ABOUT</h6>
                    <div><small><small> Contact us</small></small></div>
                    <div><small><small> About us</small></small></div>
                    <div><small><small> Careers</small></small></div>
                    <div><small><small> Flipkart Stories</small></small></div>
                    <div><small><small> Press</small></small></div>
                    <div><small><small> Flipkart Wholesale</small></small></div>
                    <div><small><small> Clearstrip</small></small></div>
                    <div><small><small> Corporate Information</small></small></div>
                </div>
                <div>
                    <h6>HELP</h6>
                    <div><small><small> Payment</small></small></div>
                    <div><small><small>Shipping </small></small></div>
                    <div><small><small> Cancellation & Returns</small></small></div>
                    <div><small><small> FAQ</small></small></div>
                    <div><small><small> Report Infringement</small></small></div>
                </div>
                <div>
                    <h6>CONSUMER POLICY</h6>
                    <div><small><small> Cancellation & Returns</small></small></div>
                    <div><small><small> Terms OF Use</small></small></div>
                    <div><small><small> Security </small></small></div>
                    <div><small><small> Privacy</small></small></div>
                    <div><small><small> Sitemap</small></small></div>
                    <div><small><small> Grievance Redressal</small></small></div>
                    <div><small><small> EPR Compliance</small></small></div>
                </div>

                <div>
                    <h6>SOCIAL</h6>
                    <div><small>Facebook</small></div>
                    <div><small>Twitter </small></div>
                    <div><small>YouTube</small></div>
                </div>
            </div>
            <div class="about2  flex-div">
                <div>
                    <h6>Mail Us</h6>
                    <div> <small><small>Flipkart Internet Private Limited,<br>
                                Buildings Alyssa, Begonia & <br>
                                Clove Embassy Tech Village, <br>
                                Outer Ring Road, Devarabeesanahalli Village, <br>
                                Bengaluru, 560103, <br>
                                Karnataka, India</small></small></div>
                </div>
                <div>
                    <h6>Register Office Address</h6>
                    <div><small><small>Flipkart Internet Private Limited, <br>
                                Buildings Alyssa, Begonia & <br>
                                Clove Embassy Tech Village,<br>
                                Outer Ring Road, Devarabeesanahalli Village,<br>
                                Bengaluru, 560103,<br>
                                Karnataka, India <br>
                                CIN : U51109KA2012PTC066107 <br>
                                Telephone: 044-45614700</small></small></div>

                </div>
            </div>
        </div>



        <div class="lastline-footer     flex-div">
            <h4><iconify-icon icon="iconamoon:shopping-bag-fill" style="color: yellow;" width="22"
                    height="22"></iconify-icon>Become a seller</h4>
            <h4><iconify-icon icon="el:star-alt" style="color: yellow;" width="16" height="16"
                    flip="horizontal"></iconify-icon>Advertise</h4>
            <h4> <iconify-icon icon="fa-solid:gift" style="color: yellow;" width="16" height="16"
                    flip="horizontal"></iconify-icon>Gift Card</h4>
            <h4><iconify-icon icon="eva:question-mark-circle-fill" style="color: yellow;" width="16"
                    height="16"></iconify-icon> Help Center</h4>
            <h4><iconify-icon icon="icon-park-outline:handle-c" style="color: yellow;"></iconify-icon>2007-2023
                Flipkart.com</h4>
            
        </div>

    </footer>

</body>

</html>