<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Shopping</title>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <link rel="icon" href="/static/images/flipkart2.png">
    <link rel="stylesheet" href="/static/fashion.css">
</head>

<body>
    <!-- <section class="section-nav">
        <nav>
            <div class="nav-left">
                <img src="/static/images/flipkart plus.png" alt="">
            </div>
            <div class="nav-middle">
                <img src="/static/images/search.jpg" alt="">
                <input type="text" placeholder="Search for product,brands and more">
            </div>
            <div class="nav-right">
                <div>
                    <button class="language-btn">My Account <img src="/static/images/down-icon.png"></button>

                </div>
                <div>
                     <img class="img-store" src="/static/images/store.jpg" alt=""> -->
    <!-- <p>Become a Seller</p>
                </div>

                <div>
                    <img src="/static/images/cart.png">
                    <p>Cart</p>
                </div>
                <div>
                    <img class="menu" src="/static/images/menu_vertical.jpg" alt="">

                </div>
            </div>
        </nav>
    </section> -->

    <!-- <div class="nav-topdown-page">
        <h3>Electronics</h3>
        <h3>Tv&Appliance</h3>
        <h3>MEN</h3>
        <h3>WOMEN</h3>
        <h3>Baby & Kid</h3>
        <h3>Home & Furnitchers</h3>
        <h3>Sport&Books&more</h3>
        <h3>Flights</h3>
        <h3>Offer zone</h3>
        <h3>Grocery</h3>
    </div> -->
    <section class="sigin    flex-div">
        <div class="div1">
            <h1>login</h1>
            <h4>Get access to your Orders, Wishlist and Recommendations

            </h4>
        </div>

        <div class="div2">
            <form method="post">
                <input type="text" class="sign-input" name="email" placeholder="Enter Email/Mobile number"> <br> <br>
                <input type="password" class="sign-input" name="password" placeholder="Enter Password"><br> <br> <br>
                <small class="blur">By continuing, you agree to Flipkart's Terms of Use and Privacy Policy.</small> <br>
                <br>
                <input type="submit" class="sign-btn" value="log-in"><br><br>

                <br><br><br><br><br><br><br><br>
                <a href="{{url_for('signup')}}">
                    <p><b> New to Flipkart? Create an account</b></p>
                </a>
            </form>
        </div>
    </section>
    <footer class="">
        <div class="flex-div">
            <div class="about1       flex-div">
                <div>
                    <h6>ABOUT</h6>
                    <div><small><small> Contact us</small></small></div>
                    <div><small><small> About us</small></small></div>
                    <div><small><small> Careers</small></small></div>
                    <div><small><small> Flipkart Stories</small></small></div>
                    <div><small><small> Press</small></small></div>
                    <div><small><small> Flipkart Wholesale</small></small></div>
                    <div><small><small> Clearstrip</small></small></div>
                    <div><small><small> Corporate Information</small></small></div>
                </div>
                <div>
                    <h6>HELP</h6>
                    <div><small><small> Payment</small></small></div>
                    <div><small><small>Shipping </small></small></div>
                    <div><small><small> Cancellation & Returns</small></small></div>
                    <div><small><small> FAQ</small></small></div>
                    <div><small><small> Report Infringement</small></small></div>
                </div>
                <div>
                    <h6>CONSUMER POLICY</h6>
                    <div><small><small> Cancellation & Returns</small></small></div>
                    <div><small><small> Terms OF Use</small></small></div>
                    <div><small><small> Security </small></small></div>
                    <div><small><small> Privacy</small></small></div>
                    <div><small><small> Sitemap</small></small></div>
                    <div><small><small> Grievance Redressal</small></small></div>
                    <div><small><small> EPR Compliance</small></small></div>
                </div>

                <div>
                    <h6>SOCIAL</h6>
                    <div><small>Facebook</small></div>
                    <div><small>Twitter </small></div>
                    <div><small>YouTube</small></div>
                </div>
            </div>
            <div class="about2  flex-div">
                <div>
                    <h6>Mail Us</h6>
                    <div> <small><small>Flipkart Internet Private Limited,<br>
                                Buildings Alyssa, Begonia & <br>
                                Clove Embassy Tech Village, <br>
                                Outer Ring Road, Devarabeesanahalli Village, <br>
                                Bengaluru, 560103, <br>
                                Karnataka, India</small></small></div>
                </div>
                <div>
                    <h6>Register Office Address</h6>
                    <div><small><small>Flipkart Internet Private Limited, <br>
                                Buildings Alyssa, Begonia & <br>
                                Clove Embassy Tech Village,<br>
                                Outer Ring Road, Devarabeesanahalli Village,<br>
                                Bengaluru, 560103,<br>
                                Karnataka, India <br>
                                CIN : U51109KA2012PTC066107 <br>
                                Telephone: 044-45614700</small></small></div>

                </div>
            </div>
        </div>




        <div class="lastline-footer     flex-div">
            <h4><iconify-icon icon="iconamoon:shopping-bag-fill" style="color: yellow;" width="22"
                    height="22"></iconify-icon>Become a seller</h4>
            <h4><iconify-icon icon="el:star-alt" style="color: yellow;" width="16" height="16"
                    flip="horizontal"></iconify-icon>Advertise</h4>
            <h4> <iconify-icon icon="fa-solid:gift" style="color: yellow;" width="16" height="16"
                    flip="horizontal"></iconify-icon>Gift Card</h4>
            <h4><iconify-icon icon="eva:question-mark-circle-fill" style="color: yellow;" width="16"
                    height="16"></iconify-icon> Help Center</h4>
            <h4><iconify-icon icon="icon-park-outline:handle-c" style="color: yellow;"></iconify-icon>2007-2023
                Flipkart.com
            </h4>
        </div>

    </footer>
</body>

</html>