<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        <label for="image">image</label>
        <input type="text"name="image"><br><br>

        <label for="product_name">product_name</label>
        <input type="text" name="product_name"><br><br>


        <label for="description">description</label>
        <input type="text" name="description"><br><br>


        <label for="price">price</label>
        <input type="number" name="price"><br><br>

        <label for="quantity">quantity</label>
        <input type="number" name="quantity"><br><br>

        <input type="submit"value="submit">
        <input type="reset"value="reset">

        
        

    </form>
</body>
</html>